body{
	background: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
}
.sidebar{
	background-color: #e8e8e8;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 220px;
}
.wrapper{
	margin-left: 220px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.slide{
	background: #D6EEDC;
	width: 100%;
	height: 100%;
}
.brand{
    background-color: #ffffff;
    display: block;
    width: 220px;
    height: 50px;
}
.brand #title-brand{
    display: inline-block;
}
.brand #title-brand>h3{
	margin: 0;
}
.brand #logo{
	margin-left: 20px;
	height:50px;
	width: 50px; 
}
.menubar ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 10px;
}
.menubar ul li{
	display: list-item;
	list-style: none;
}
.menubar ul.navmenu>li>a{
	display: block;
	border-left: 2px solid transparent;
	position: relative;
	padding: 14px 10px 14px 0px;
}
#page-heading{
	background-color: #fff;
	padding: 0 20px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 15px;
}
#page-heading>.page-title{
	margin: 0;
	padding: 10px 0;
	font-weight: 300;
	color: #959ea9;
}
.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#map-canvas{
	width: 100%;
	height: 600px;
	background-color: #CCC;
}