body{
	background: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
	height: 100%;
}
header{
	background-color: #009AE5;
	overflow: hidden;
	height: 50px;
	width: 100%;
}
ul li{
	list-style: none; 
}
a{
	font-size: 16px;
}
.main{
  background-color: #e8e8e8;
  width: 200px;
  height:100%;
  position:fixed;
}
.wrapper-map{
	margin-left:200px;
	position: fixed;
	left: 0;
	height: 100%;
	width: 100%;
}
.data-list{
  height: 77%;
  overflow-y: scroll;
}
/*
 *  Style Scroll
 */
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #b0b0b0;
}
/*
* Style Search
*/
.search{
	padding:8px 15px;
    background: #e8e8e8;
    border:0px solid #dbdbdb;
    width: 67%;
}
.btn-search{
	position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.btn-search:hover{
	 background-color:#fafafa;
    color:#207cca;
}

.options{
	padding: 6px 15px;
	width: 200px;
	height: 40px;
}
.select-all{
	display: inline-block;
}
.form{
	margin-top: 20px;
	padding: 10px;
}
.unpointer{
	filter:  grayscale(1);
	-webkit-filter:grayscale(1);
	-moz-filter:grayscale(1);
	-ms-filter: grayscale(1);
}
#map-canvas{
	width: 100%;
	height: 100%;
	background-color: #CCC;
}
#footer{
	background-color:#f5f5f5;
}