body{
	background: rgb(120,120,255);
}
.sidebar{
	background-color: #191547;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 220px;
}
.wrapper{
	margin-left: 220px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.slide{
	background: #D6EEDC;
	width: 100%;
	height: 100%;
}
.brand{
	display: block;
	background-color: #65c9bf;
	height: 50px;
}
.menubar ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.menubar ul li{
	display: list-item;
	list-style: none;
}
.menubar ul.navmenu>li>a{
	position: relative;
	padding: 14px 10px 14px 0;
	display: block;
	color: #fff;
	border-left: 2px solid transparent;
}
#page-heading{
	background-color: #fff;
	padding: 0 20px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 15px;
}
#page-heading>.page-title{
	margin: 0;
	padding: 10px 0;
	font-weight: 300;
	color: #959ea9;
}
.container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
#map-canvas{
	width: 500px;
	height: 400px;
	background-color: #CCC;
}