<div id="lightreg" class="white_content animated zoomIn">
	<a href = "javascript:void(0)" onclick = "document.getElementById('lightreg').style.display='none';document.getElementById('fadereg').style.display='none'"><img src="img/bad7.png"></a>
	<h1>Informacion general</h1>
	<div class="login-card">
		<div class="row general">
			<div class="col-md-6">Estado:</div>
			<div class="col-md-6">{{actualVehicule.state}}</div>
		</div>
		<div class="row general">
			<div class="col-md-6">Ubicacion:</div>
			<div class="col-md-6">{{actualVehicule.address}}</div>
		</div>				
		<div class="row general">
			<div class="col-md-6">Puertas:</div>
			<div class="col-md-6">{{actualVehicule.doors}}</div>
		</div>
		<div class="row general" id="general-info-buttom">
			<div class="col-md-6"><input type="submit" value="Encender/Apagar" /></div>
			<div class="col-md-6"><input type="submit" value="Otra opcion"></div>
		</div>
	</div>
</div>
<div id="fadereg" class="black_overlay"></div>